body, h1, h2, h3, h4, h5, h6, hr, p, ul, ol, li, pre,button, input, textarea, th, td{ -webkit-tap-highlight-color: transparent; outline: 0; margin: 0; padding: 0; vertical-align: baseline; }
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin: 0; padding: 0; vertical-align: baseline; }
img { border: 0 none; vertical-align: top; }
i, em, var { font-style: normal; }
ol, ul { list-style: none; }
input, select, button, h1, h2, h3, h4, h5, h6 { font-size: 100%; font-family: inherit; }
table { border-collapse: collapse; border-spacing: 0; }
a { text-decoration: none; }
body { margin: 0 auto; min-width: 3.2rem;width: 100%; height: 100%; line-height: 1; font-size: 0.26rem; font-family: -apple-system,Helvetica,sans-serif,"宋体"; -webkit-text-size-adjust: 100% !important; text-size-adjust: 100% !important; }
input[type="text"], textarea { -webkit-appearance: none; -moz-appearance: none; appearance: none; }
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
  display: block;
}
textarea{
  vertical-align: top;
}
.clearfix {*zoom:1;}
.clearfix:before,.clearfix:after {display:table;line-height:0;content:"";}
.clearfix:after {clear:both;}
::-webkit-scrollbar {
  width: 0rem;
  height:0.05rem;
  display: none;
}
::-webkit-scrollbar-track-piece {
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 0.06rem;
}
::-webkit-scrollbar-thumb:vertical {
  height: 0.05rem;
  background-color: rgba(125, 125, 125, 0.7);
  -webkit-border-radius: 0.06rem;
}
::-webkit-scrollbar-thumb:horizontal {
  width: 0.05rem;
  background-color: rgba(125, 125, 125, 0.7);
  -webkit-border-radius: 0.06rem;
}

/* HTML5 可选使用 */
body {
  -webkit-touch-callout:none;/* 禁止长按页面，iOS系统弹出默认菜单 */
  -webkit-text-size-adjust: none;
  -webkit-overflow-scrolling:touch;
}
/*
  retina屏幕下border：1px 问题
*/
.bd-top-1,.bd-bottom-1{
  position: relative;
}
.bd-top-1:after,.bd-bottom-1:before{
  content: "";
  position: absolute;
  left: 0;  right: 0;
  border-bottom: 0.01rem solid #b2b2b2;
  transform: scaleY(.5);
  -webkit-transform: scaleY(.5);
  -webkit-transform-origin: 0 0;
}
.bd-top-1:after{
  top: 0;
}
.bd-bottom-1:before{
  bottom: 0;
}
[type="button"]{
  outline: none;
}
input[disabled]{
  background-color: #fff;
}
.scroll{
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

/* iphone5 */
@media (device-height:5.68rem) and (-webkit-min-device-pixel-ratio:2){ }
/*魅族*/
@media only screen and (min-device-width :10.80rem) and (-webkit-min-device-pixel-ratio : 2.5){ }
/*mate7*/
@media only screen and (min-device-width :10.80rem) and (-webkit-min-device-pixel-ratio : 3){ }
/*4 4s*/
@media only screen and (device-height :4.8rem) and (-webkit-device-pixel-ratio:2){  }
@media screen and (min-width: 3.2rem) and (max-width: 4.8rem) {  }

/* 横屏 */
@media all and (orientation :landscape) {
}
/* 竖屏 */
@media all and (orientation :portrait) {
}
